<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CigaretteeCessationAPP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="jumbotron">
        <h1>Quit Map</h1>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quit Map", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
                @Html.Partial("_LoginPartial")
            </div>
        </div>
       </div>
    <div class="container body-content cf">
        @RenderBody()
        <hr />
        </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false) 

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Angular/Apps/main.js"></script>
    <script src="~/Scripts/Angular/Apps/EnterCigarettesController.js"></script>
    @*<script src="~/Scripts/Angular/Apps/ApiEnterCigarettesFactory.js"></script>*@
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
   
</body>
</html>






